<div style=" background-color: RGB(0,114,200);" >
<h1 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">PROJET 4 DATA ANALYST</h1>
<h2 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">Réalisez une étude de santé publique avec R ou Python
</h2>
</div>

# OBJECTIF DE CE NOTEBOOK

Cette étude vise à analyser la situation de la sous-nutrition dans le monde. Cela inclut l'identification des régions et des populations les plus touchées par la sous-nutrition, ainsi que la recherche de facteurs qui y contribuent.

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.1 - Importation des librairies</h3>
</div>

In [1]:
#Importation de la librairie Pandas
import pandas as pd

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.2 - Chargement des fichiers Excel</h3>
</div>

In [2]:
#Importation du fichier population.csv
population = pd.read_csv('population.csv')

#Importation du fichier dispo_alimentaire.csv
aide_alimentaire = pd.read_csv('aide_alimentaire.csv')

#Importation du fichier aide_alimentaire.csv
sous_nutrition = pd.read_csv('sous_nutrition.csv')

#Importation du fichier sous_nutrition.csv
dispo_alimentaire = pd.read_csv('dispo_alimentaire.csv')

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - Analyse exploratoire des fichiers</h2>
</div>

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.1 - Analyse exploratoire du fichier population</h3>
</div>

In [3]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(population.shape[0]))
print("Le tableau comporte {} colonne(s)".format(population.shape[1]))

Le tableau comporte 1416 observation(s) ou article(s)
Le tableau comporte 3 colonne(s)

In [4]:
#Consulter le nombre de colonnes
population.columns

Index(['Zone', 'Année', 'Valeur'], dtype='object')

In [5]:
#La nature des données dans chacune des colonnes
population.dtypes

Zone       object
Année       int64
Valeur    float64
dtype: object

In [6]:
#Le nombre de valeurs présentes dans chacune des colonnes
population.count

<bound method DataFrame.count of              Zone  Année     Valeur
0     Afghanistan   2013  32269.589
1     Afghanistan   2014  33370.794
2     Afghanistan   2015  34413.603
3     Afghanistan   2016  35383.032
4     Afghanistan   2017  36296.113
...           ...    ...        ...
1411     Zimbabwe   2014  13586.707
1412     Zimbabwe   2015  13814.629
1413     Zimbabwe   2016  14030.331
1414     Zimbabwe   2017  14236.595
1415     Zimbabwe   2018  14438.802

[1416 rows x 3 columns]>

In [7]:
#Affichage les 5 premières lignes de la table
population.head(5)

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

In [8]:
#Nous allons harmoniser les unités. Pour cela, nous avons décidé de multiplier la population par 1000
#Multiplication de la colonne valeur par 1000
population['Valeur'] *= 1000

In [9]:
#changement du nom de la colonne Valeur par Population
population.rename(columns = {'Valeur' : 'Population'}, inplace = True)

In [10]:
#Affichage les 5 premières lignes de la table pour voir les modifications
population.head()

          Zone  Année  Population
0  Afghanistan   2013  32269589.0
1  Afghanistan   2014  33370794.0
2  Afghanistan   2015  34413603.0
3  Afghanistan   2016  35383032.0
4  Afghanistan   2017  36296113.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.2 - Analyse exploratoire du fichier disponibilité alimentaire</h3>
</div>

In [11]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(dispo_alimentaire.shape[0]))
print("Le tableau comporte {} colonne(s)".format(dispo_alimentaire.shape[1]))

Le tableau comporte 15605 observation(s) ou article(s)
Le tableau comporte 18 colonne(s)

In [12]:
#Consulter le nombre de colonnes
dispo_alimentaire.columns

Index(['Zone', 'Produit', 'Origine', 'Aliments pour animaux',
       'Autres Utilisations', 'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité intérieure', 'Exportations - Quantité',
       'Importations - Quantité', 'Nourriture', 'Pertes', 'Production',
       'Semences', 'Traitement', 'Variation de stock'],
      dtype='object')

In [13]:
#Affichage les 5 premières lignes de la table
dispo_alimentaire.head(5)

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [14]:
#remplacement des NaN dans le dataset par des 0
dispo_alimentaire.fillna(0, inplace=True)

In [15]:
# Multiplication de toutes les lignes contenant des milliers de tonnes en Kg
# Liste des colonnes à convertir de milliers de tonnes en kilogrammes
colonnes_a_convertir = [
    'Aliments pour animaux',
    'Autres Utilisations',
    'Disponibilité intérieure',
    'Exportations - Quantité',
    'Importations - Quantité',
    'Nourriture',
    'Pertes',
    'Production',
    'Semences',
    'Traitement',
    'Variation de stock']

# Boucle pour convertir les colonnes en kilogrammes
for colonne in colonnes_a_convertir:
    dispo_alimentaire[colonne] *= 1000

In [16]:
#Affichage les 5 premières lignes de la table
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000.0,0.0,0.0,53000.0,0.0,53000.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000.0,2000.0,40000.0,39000.0,2000.0,3000.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000.0,0.0,2000.0,2000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000.0,0.0,82000.0,82000.0,0.0,0.0,0.0,0.0,0.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.3 - Analyse exploratoire du fichier aide alimentaire</h3>
</div>

In [17]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(aide_alimentaire.shape[0]))
print("Le tableau comporte {} colonne(s)".format(aide_alimentaire.shape[1]))

Le tableau comporte 1475 observation(s) ou article(s)
Le tableau comporte 4 colonne(s)

In [18]:
#Consulter le nombre de colonnes
aide_alimentaire.columns

Index(['Pays bénéficiaire', 'Année', 'Produit', 'Valeur'], dtype='object')

In [19]:
#Affichage les 5 premières lignes de la table
aide_alimentaire.head(5)

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

In [20]:
#changement du nom de la colonne Pays bénéficiaire par Zone
aide_alimentaire.rename(columns = {'Pays bénéficiaire' : 'Zone'}, inplace=True)

In [21]:
#Multiplication de la colonne Aide_alimentaire qui contient des tonnes par 1000 pour avoir des kg
aide_alimentaire['Valeur'] *= 1000

In [22]:
#Affichage les 5 premières lignes de la table
aide_alimentaire.head()

          Zone  Année              Produit    Valeur
0  Afghanistan   2013  Autres non-céréales    682000
1  Afghanistan   2014  Autres non-céréales    335000
2  Afghanistan   2013         Blé et Farin  39224000
3  Afghanistan   2014         Blé et Farin  15160000
4  Afghanistan   2013             Céréales  40504000

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.3 - Analyse exploratoire du fichier sous nutrition</h3>
</div>

In [23]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(sous_nutrition.shape[0]))
print("Le tableau comporte {} colonne(s)".format(sous_nutrition.shape[1]))

Le tableau comporte 1218 observation(s) ou article(s)
Le tableau comporte 3 colonne(s)

In [24]:
#Consulter le nombre de colonnes
sous_nutrition.columns

Index(['Zone', 'Année', 'Valeur'], dtype='object')

In [25]:
#Afficher les 5 premières lignes de la table
sous_nutrition.head(5)

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

In [26]:
#Conversion de la colonne Valeur en numérique (avec l'argument errors=coerce qui permet de convertir automatiquement les lignes qui ne sont pas des nombres en NaN)
sous_nutrition['Valeur'] = pd.to_numeric(sous_nutrition['Valeur'], errors='coerce')

In [27]:
#Puis remplacement des NaN en 0
sous_nutrition['Valeur'].fillna(0, inplace=True)

In [28]:
#changement du nom de la colonne Valeur par sous_nutrition
sous_nutrition.rename(columns = {"Valeur":"sous_nutrition"}, inplace=True)

In [29]:
#Multiplication de la colonne sous_nutrition par 1000000
sous_nutrition["sous_nutrition"] *=1000000

In [30]:
#Afficher les 5 premières lignes de la table
sous_nutrition.head()

          Zone      Année  sous_nutrition
0  Afghanistan  2012-2014       8600000.0
1  Afghanistan  2013-2015       8800000.0
2  Afghanistan  2014-2016       8900000.0
3  Afghanistan  2015-2017       9700000.0
4  Afghanistan  2016-2018      10500000.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.1 - Proportion de personnes en sous nutrition</h3>
</div>

In [31]:
# Il faut tout d'abord faire une jointure entre la table population et la table sous nutrition, en ciblant l'année 2017

population_2017 = population[population['Année'] == 2017]
sous_nutrition_2017 = sous_nutrition[sous_nutrition['Année'] == '2016-2018']

data_2017 = pd.merge(population_2017, sous_nutrition_2017, on = 'Zone', how = 'inner')

In [32]:
#Affichage du dataset
data_2017.head()

             Zone  Année_x  Population    Année_y  sous_nutrition
0     Afghanistan     2017  36296113.0  2016-2018      10500000.0
1  Afrique du Sud     2017  57009756.0  2016-2018       3100000.0
2         Albanie     2017   2884169.0  2016-2018        100000.0
3         Algérie     2017  41389189.0  2016-2018       1300000.0
4       Allemagne     2017  82658409.0  2016-2018             0.0

In [33]:
#Calcul et affichage du nombre de personnes en état de sous nutrition
data_2017['Proportion_sous_nutrition'] = (data_2017['sous_nutrition'] / data_2017['Population']) * 100
data_2017[['Zone', 'Proportion_sous_nutrition']].head()

             Zone  Proportion_sous_nutrition
0     Afghanistan                  28.928718
1  Afrique du Sud                   5.437666
2         Albanie                   3.467203
3         Algérie                   3.140917
4       Allemagne                   0.000000

In [34]:
# Calcul de la proportion totale dans le monde
proportion_totale_monde = (data_2017['sous_nutrition'].sum() / data_2017['Population'].sum()) * 100

# Affichage de la proportion totale dans le monde
print(proportion_totale_monde)

7.1011968332354165

In [35]:
# Calcul du nombre de personnes en état de sous-nutrition dans le monde
nombre_personnes_sous_nutrition_monde = (data_2017['sous_nutrition'].sum())

# Affichage du nombre de personnes en état de sous-nutrition dans le monde
print(nombre_personnes_sous_nutrition_monde)

535700000.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.2 - Nombre théorique de personne qui pourrait être nourries en 2017</h3>
</div>

In [36]:
#Combien mange en moyenne un être humain ? Source => Source => https://applications.emro.who.int/dsaf/emropub_2011_1274.pdf?ua=1

# 2000kcal/jour

In [37]:
#On commence par faire une jointure entre le data frame population et Dispo_alimentaire afin d'ajouter dans ce dernier la population
dispo_alimentaire = pd.merge(dispo_alimentaire, population[population['Année'] == 2017], on='Zone')

In [38]:
#Affichage du nouveau dataframe
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Année,Population
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000.0,0.0,0.0,53000.0,0.0,53000.0,0.0,0.0,0.0,2017,36296113.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000.0,2000.0,40000.0,39000.0,2000.0,3000.0,0.0,0.0,0.0,2017,36296113.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000.0,0.0,2000.0,2000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000.0,0.0,82000.0,82000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0

In [39]:
#Création de la colonne dispo_kcal avec calcul des kcal disponibles mondialement (la somme de toutes les calories provenant de toutes les sources alimentaires)
dispo_alimentaire['dispo_kcal'] = dispo_alimentaire['Disponibilité alimentaire (Kcal/personne/jour)'] * dispo_alimentaire['Population'] 
print(dispo_alimentaire['dispo_kcal'].sum(), "kcal")

20918984627331.0 kcal

In [40]:
#Calcul du nombre d'humains pouvant être nourris
# Supposons que la consommation moyenne d'un être humain soit de 2000 kilocalories par jour comme explicité par l'OMS
consommation_moyenne = 2000

# Calcul du nombre total de personnes que la disponibilité alimentaire mondiale peut nourrir
nombre_personnes_monde = dispo_alimentaire['dispo_kcal'].sum() / consommation_moyenne

print(nombre_personnes_monde)

10459492313.6655

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.3 - Nombre théorique de personne qui pourrait être nourrie avec les produits végétaux en 2017</h3>
</div>

In [41]:
#Transfert des données avec les végétaux dans un nouveau dataframe
produits_vegetaux = dispo_alimentaire[(dispo_alimentaire['Origine'] == 'vegetale') & (dispo_alimentaire['Année'] == 2017)]
produits_vegetaux.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Année,Population,dispo_kcal
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000.0,...,40000.0,39000.0,2000.0,3000.0,0.0,0.0,0.0,2017,36296113.0,36296113.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000.0,...,2000.0,2000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,36296113.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000.0,...,82000.0,82000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,145184452.0
6,Afghanistan,Bière,vegetale,0.0,0.0,0.0,0.09,0.00,0.00,3000.0,...,3000.0,3000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,0.0

In [42]:
#Calcul du nombre de kcal disponible pour les végétaux
kcal_disponibles_vegetaux = produits_vegetaux['dispo_kcal'].sum()

In [43]:
#Calcul du nombre d'humains pouvant être nourris avec les végétaux
personnes_nourries_vegetaux = kcal_disponibles_vegetaux / 2000
print(personnes_nourries_vegetaux)

8630382105.7505

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.4 - Utilisation de la disponibilité intérieure</h3>
</div>

In [44]:
# Calcul de la disponibilité totale
disponibilite_interieure = dispo_alimentaire['Production'] + dispo_alimentaire['Importations - Quantité'] - dispo_alimentaire['Exportations - Quantité'] + dispo_alimentaire['Variation de stock']

In [45]:
# Liste des colonnes d'intérêt
colonnes_interet = ['Aliments pour animaux', 'Pertes', 'Semences', 'Traitement', 'Autres Utilisations']

# Boucle for pour calculer la disponibilité pour chaque catégorie en fonction de la disponibilité intérieure
for colonne in colonnes_interet:
    disponibilite_colonne = disponibilite_interieure * (dispo_alimentaire[colonne] / dispo_alimentaire['Disponibilité intérieure'])
    resultat_colonne = disponibilite_colonne.sum()
    print(colonne, resultat_colonne)

# Calcul de la disponibilité totale mondiale
disponibilite_totale_monde = disponibilite_interieure.sum()
print("Disponibilité totale mondiale:",disponibilite_totale_monde)

Aliments pour animaux 1288003507.2882135
Pertes 452283651.878134
Semences 153320296.9888885
Traitement 2185644967.2998157
Autres Utilisations 858783520.218782
Disponibilité totale mondiale: 9734105000.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.5 - Utilisation des céréales</h3>
</div>

In [46]:
#Création d'une liste avec toutes les variables
cereales = ['Blé', 'Riz (Eq Blanchi)', 'Orge', 'Maïs', 'Seigle', 'Avoine', 'Millet', 'Sorgho', 'Céréales, Autres']

In [47]:
#Création d'un dataframe avec les informations uniquement pour ces céréales
cereales_df = dispo_alimentaire[dispo_alimentaire['Produit'].isin(cereales)]
cereales_df.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Année,Population,dispo_kcal
7,Afghanistan,Blé,vegetale,0.0,0.0,1369.0,160.23,4.69,36.91,5992000.0,...,1173000.0,4895000.0,775000.0,5169000.0,322000.0,0.0,-350000.0,2017,36296113.0,4.968938e+10
12,Afghanistan,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,0.000000e+00
32,Afghanistan,Maïs,vegetale,200000.0,0.0,21.0,2.50,0.30,0.56,313000.0,...,1000.0,76000.0,31000.0,312000.0,5000.0,0.0,0.0,2017,36296113.0,7.622184e+08
34,Afghanistan,Millet,vegetale,0.0,0.0,3.0,0.40,0.02,0.08,13000.0,...,0.0,12000.0,1000.0,13000.0,0.0,0.0,0.0,2017,36296113.0,1.088883e+08
40,Afghanistan,Orge,vegetale,360000.0,0.0,26.0,2.92,0.24,0.79,524000.0,...,10000.0,89000.0,52000.0,514000.0,22000.0,0.0,0.0,2017,36296113.0,9.436989e+08

In [48]:
#Affichage de la proportion d'alimentation humaine
proportion_humaine = cereales_df['Nourriture'].sum() / cereales_df['Disponibilité intérieure'].sum()*100
print(proportion_humaine)

42.90600583340446

In [49]:
#Affichage de la proportion d'alimentation animale
proportion_animale = cereales_df['Aliments pour animaux'].sum() / cereales_df['Disponibilité intérieure'].sum()*100
print(proportion_animale)

36.14301553458228

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.6 - Pays avec la proportion de personnes sous-alimentée la plus forte en 2017</h3>
</div>

In [50]:
# Trie du df data_2017 créé plus haut en fonction de la proportion de sous-nutrition (ordre décroissant)
top_pays_sous_alimentation = data_2017.sort_values(by='Proportion_sous_nutrition', ascending=False)

In [51]:
# Afficher les 10 pays avec la proportion de sous-nutrition la plus élevée en 2017
top_10_pays_sous_alimentation = top_pays_sous_alimentation.head(10)
print(top_10_pays_sous_alimentation[['Zone', 'Proportion_sous_nutrition']])

                                           Zone  Proportion_sous_nutrition
78                                        Haïti                  48.259182
157  République populaire démocratique de Corée                  47.188685
108                                  Madagascar                  41.062924
103                                     Libéria                  38.279742
100                                     Lesotho                  38.249438
183                                       Tchad                  37.957606
161                                      Rwanda                  35.055619
121                                  Mozambique                  32.810898
186                                 Timor-Leste                  32.173531
0                                   Afghanistan                  28.928718

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.7 - Pays qui ont le plus bénéficié d'aide alimentaire depuis 2013</h3>
</div>

In [52]:
aide_alimentaire.head()

          Zone  Année              Produit    Valeur
0  Afghanistan   2013  Autres non-céréales    682000
1  Afghanistan   2014  Autres non-céréales    335000
2  Afghanistan   2013         Blé et Farin  39224000
3  Afghanistan   2014         Blé et Farin  15160000
4  Afghanistan   2013             Céréales  40504000

In [53]:
#calcul du total de l'aide alimentaire par pays
total_aide_par_pays = aide_alimentaire[aide_alimentaire['Année'] >= 2013].groupby('Zone')['Valeur'].sum()

In [54]:
#affichage après trie des 10 pays qui ont bénéficié le plus de l'aide alimentaire
top_10_pays_aide_alimentaire = total_aide_par_pays.sort_values(ascending=False).head(10)
print(top_10_pays_aide_alimentaire)

Zone
République arabe syrienne           1858943000
Éthiopie                            1381294000
Yémen                               1206484000
Soudan du Sud                        695248000
Soudan                               669784000
Kenya                                552836000
Bangladesh                           348188000
Somalie                              292678000
République démocratique du Congo     288502000
Niger                                276344000
Name: Valeur, dtype: int64

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.8 - Evolution des 5 pays qui ont le plus bénéficiés de l'aide alimentaire entre 2013 et 2016</h3>
</div>

In [55]:
#Création d'un dataframe avec la zone, l'année et l'aide alimentaire 
df_aide_alimentaire = aide_alimentaire[['Zone', 'Année', 'Valeur']]
df_aide_alimentaire.head()

          Zone  Année    Valeur
0  Afghanistan   2013    682000
1  Afghanistan   2014    335000
2  Afghanistan   2013  39224000
3  Afghanistan   2014  15160000
4  Afghanistan   2013  40504000

In [56]:
#puis groupby sur zone et année 
total_aide_par_pays_et_annee = df_aide_alimentaire.groupby(['Zone', 'Année']).sum()

In [57]:
#Création d'une liste contenant les 5 pays qui ont le plus bénéficiées de l'aide alimentaire
top_5_pays = total_aide_par_pays_et_annee['Valeur'].groupby('Zone').sum().nlargest(5)

In [58]:
#On filtre sur le dataframe total_aide_par_pays_et_annee avec la liste top_5_pays
top_5_pays_aide_alimentaire = total_aide_par_pays_et_annee.loc[top_5_pays.index]

In [59]:
# Affichage des pays avec l'aide alimentaire par année
top_5_pays_aide_alimentaire.head(30)

                                    Valeur
Zone                      Année
République arabe syrienne 2013   563566000
                          2014   651870000
                          2015   524949000
                          2016   118558000
Éthiopie                  2013   591404000
                          2014   586624000
                          2015   203266000
Yémen                     2013   264764000
                          2014   103840000
                          2015   372306000
                          2016   465574000
Soudan du Sud             2013   196330000
                          2014   450610000
                          2015    48308000
Soudan                    2013   330230000
                          2014   321904000
                          2015    17650000

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.9 - Pays avec le moins de disponibilité par habitant</h3>
</div>

In [60]:
#Calcul de la disponibilité en kcal par personne par jour par pays
dispo_pays_total = dispo_alimentaire[['Zone','Produit','Disponibilité alimentaire (Kcal/personne/jour)']].groupby('Zone').sum()

In [61]:
#Affichage des 10 pays qui ont le moins de dispo alimentaire par personne 
dispo_pays_total.sort_values(by="Disponibilité alimentaire (Kcal/personne/jour)", ascending=True).head(10)

,Produit,Disponibilité alimentaire (Kcal/personne/jour)
Zone,,
République centrafricaine,"Abats ComestibleAlcool, non ComestibleAliments...",1879.0
Zambie,"Abats ComestibleAgrumes, AutresAlcool, non Com...",1924.0
Madagascar,"Abats ComestibleAgrumes, AutresAlcool, non Com...",2056.0
Afghanistan,"Abats ComestibleAgrumes, AutresAliments pour e...",2087.0
Haïti,"Abats ComestibleAgrumes, AutresAlcool, non Com...",2089.0
République populaire démocratique de Corée,Abats ComestibleAnimaux Aquatiques AutreAvoine...,2093.0
Tchad,"Abats ComestibleAlcool, non ComestibleAliments...",2109.0
Zimbabwe,"Abats ComestibleAgrumes, AutresAlcool, non Com...",2113.0
Ouganda,"Abats ComestibleAgrumes, AutresAlcool, non Com...",2126.0
Timor-Leste,Abats ComestibleAliments pour enfantsAnanasAni...,2129.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.10 - Pays avec le plus de disponibilité par habitant</h3>
</div>

In [62]:
#Affichage des 10 pays qui ont le plus de dispo alimentaire par personne 
dispo_pays_total.sort_values(by="Disponibilité alimentaire (Kcal/personne/jour)", ascending=False).head(10)

,Produit,Disponibilité alimentaire (Kcal/personne/jour)
Zone,,
Autriche,"Abats ComestibleAgrumes, AutresAlcool, non Com...",3770.0
Belgique,"Abats ComestibleAgrumes, AutresAlcool, non Com...",3737.0
Turquie,"Abats ComestibleAgrumes, AutresAlcool, non Com...",3708.0
États-Unis d'Amérique,"Abats ComestibleAgrumes, AutresAlcool, non Com...",3682.0
Israël,"Abats ComestibleAgrumes, AutresAlcool, non Com...",3610.0
Irlande,"Abats ComestibleAgrumes, AutresAlcool, non Com...",3602.0
Italie,"Abats ComestibleAgrumes, AutresAlcool, non Com...",3578.0
Luxembourg,"Abats ComestibleAgrumes, AutresAlcool, non Com...",3540.0
Égypte,"Abats ComestibleAgrumes, AutresAlcool, non Com...",3518.0
Allemagne,"Abats ComestibleAgrumes, AutresAlcool, non Com...",3503.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.11 - Exemple de la Thaïlande pour le Manioc</h3>
</div>

In [63]:
#Création d'un dataframe avec uniquement la Thaïlande 
thailande_manioque = sous_nutrition[sous_nutrition['Zone'] == 'Thaïlande']

In [64]:
#Calcul de la sous nutrition en thailande
sous_nutrition_thailande = data_2017[(data_2017['Zone'] == 'Thaïlande')]

In [65]:
# Afficher la proportion de sous-nutrition en Thaïlande
proportion_sous_nutrition_thailande = sous_nutrition_thailande['Proportion_sous_nutrition'].values[0]
print(proportion_sous_nutrition_thailande)

8.958267621309753

In [66]:
# On calcule la proportion exportée en fonction de la proportion
proportion_exportation_manioc = (dispo_alimentaire.loc[(dispo_alimentaire['Produit'] == "Manioc") & (dispo_alimentaire['Zone'] == "Thaïlande")]
                                ['Exportations - Quantité'].iloc[0] * 100 /
                                dispo_alimentaire.loc[(dispo_alimentaire['Produit'] == "Manioc") & (dispo_alimentaire['Zone'] == "Thaïlande")]
                                ['Production'].iloc[0])


print(proportion_exportation_manioc)

83.41272991928014

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 6 - Analyse complémentaires</h2>
</div>

# Analyse de la consommation alimentaire par produit

In [70]:
# Groupement des données par produit et calcule de la somme de la disponibilité alimentaire
produit_consommation = dispo_alimentaire.groupby('Produit')['Disponibilité alimentaire en quantité (kg/personne/an)'].sum()

In [71]:
#tri du résultat
top_produits_consommes = produit_consommation.sort_values(ascending=False).head(10)

In [73]:
# Affichage du résultat
print(top_produits_consommes)

Produit
Lait - Excl Beurre     19288.17
Blé                    12148.21
Légumes, Autres        10948.03
Pommes de Terre         5891.89
Riz (Eq Blanchi)        5373.28
Bière                   5161.37
Fruits, Autres          4585.23
Sucre Eq Brut           4482.47
Maïs                    3687.47
Viande de Volailles     3527.03
Name: Disponibilité alimentaire en quantité (kg/personne/an), dtype: float64

# 10 plus grands producteurs de maïs dans le monde

In [75]:
# Filtre sur les données pour le produit "Maïs"
mais_producteurs = dispo_alimentaire[dispo_alimentaire['Produit'] == 'Maïs']

In [76]:
# Groupement des données par pays et calcule de la somme de la production de maïs
top_producteurs_mais = mais_producteurs.groupby('Zone')['Production'].sum()

In [77]:
# Trier les pays par ordre décroissant de production de maïs
top_producteurs_mais = top_producteurs_mais.sort_values(ascending=False)

In [78]:
# Afficher les 10 plus grands producteurs de maïs dans le monde
print(top_producteurs_mais.head(10))

Zone
États-Unis d'Amérique    353699000.0
Chine, continentale      218489000.0
Brésil                    80538000.0
Argentine                 32119000.0
Ukraine                   30950000.0
Inde                      23290000.0
Mexique                   22664000.0
Indonésie                 18512000.0
France                    15031000.0
Canada                    14194000.0
Name: Production, dtype: float64